## Housing Case Study
Problem Statement:

Consider a real estate company that has a dataset containing the prices of properties in the Delhi region. It wishes to use the data to optimise the sale prices of the properties based on important factors such as area, bedrooms, parking, etc.

Essentially, the company wants —

To identify the variables affecting house prices, e.g. area, number of rooms, bathrooms, etc.

To create a linear model that quantitatively relates house prices with variables such as number of rooms, area, number of bathrooms, etc.

To know the accuracy of the model, i.e. how well these variables can predict house prices.

In [2]:
#1 Import the dataset (Housing.csv) and look at the top five rows
import pandas as pd
df=pd.read_csv('C:/Users/NAGARAJU/Downloads/Housing.csv')
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [3]:
#2 Check the shape of the DataFrame (rows, columns)
df.shape

(545, 13)

In [4]:
#3 Look at the data types of the columns
df.dtypes

price                int64
area                 int64
bedrooms             int64
bathrooms            int64
stories              int64
mainroad            object
guestroom           object
basement            object
hotwaterheating     object
airconditioning     object
parking              int64
prefarea            object
furnishingstatus    object
dtype: object

In [5]:
#4 Check for missing  values if any, replace with appropriate values
df.isnull().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [6]:
#5 Prepare  X (independent variables) and y (dependent variable)
x=df.drop('price',axis=1)
y=df['price']

In [11]:
#6 Visualise the relationship between the independent variables and the depenedent variable using scatterplots

In [7]:
#7 Encoding categorical data in X
from sklearn.preprocessing import LabelEncoder

labelencoder=LabelEncoder()
categorical_columns=['mainroad','guestroom','basement','hotwaterheating','airconditioning','prefarea','furnishingstatus']
for col in categorical_columns:
    x[col]=labelencoder.fit_transform(x[col])

In [ ]:
#8  Avoiding the Dummy Variable Trap

In [20]:
#9 Apply feature scaling on numerical variables

In [23]:
#10 Split Data into Training and Testing Sets (70%-Train 30%-Test) - X_train, y_train, X_test, y_test
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [25]:
x_train

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
126,7160,3,1,1,1,0,1,0,0,2,1,2
363,3584,2,1,1,1,0,0,1,0,0,0,1
370,4280,2,1,1,1,0,0,0,1,2,0,1
31,7000,3,1,4,1,0,0,0,1,2,0,1
113,9620,3,1,1,1,0,1,0,0,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
71,6000,4,2,4,1,0,0,0,1,0,0,2
106,5450,4,2,1,1,0,1,0,1,0,1,1
270,4500,3,2,3,1,0,0,1,0,1,0,0
435,4040,2,1,1,1,0,0,0,0,0,0,2
102,5500,3,2,4,1,1,0,0,1,1,0,1

In [26]:
x_test

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
316,5900,4,2,2,0,0,1,0,0,1,0,2
77,6500,3,2,3,1,0,0,0,1,0,1,0
360,4040,2,1,1,1,0,0,0,0,0,0,1
90,5000,3,1,2,1,0,0,0,1,0,0,1
493,3960,3,1,1,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
395,3600,6,1,2,1,0,0,0,0,1,0,2
425,3185,2,1,1,1,0,1,0,0,2,0,0
195,4410,4,3,2,1,0,1,0,0,2,0,1
452,9000,3,1,2,1,0,0,0,0,2,0,1
154,3650,3,2,2,1,0,0,0,0,2,0,1

In [27]:
y_train

126    5880000
363    3710000
370    3640000
31     8400000
113    6083000
        ...
71     6755000
106    6160000
270    4340000
435    3290000
102    6195000
Name: price, Length: 381, dtype: int64

In [28]:
y_test

316    4060000
77     6650000
360    3710000
90     6440000
493    2800000
        ...
395    3500000
425    3360000
195    4970000
452    3150000
154    5530000
Name: price, Length: 164, dtype: int64

In [33]:
#11 Fitting Multiple Linear Regression to the Training
from sklearn.linear_model import LinearRegression

mlr=LinearRegression()
mlr.fit(x_train,y_train)
y_pred=mlr.predict(x_train)
y_pred

array([ 5332298.80162373,  3560000.36855075,  4404360.98837882,
        6422828.76367875,  6350894.77980776,  6125803.7400548 ,
        3154901.01336098,  4641274.2767926 ,  8811989.65931224,
        5151873.94105849,  7362142.90153429,  8117826.44806162,
        3323065.80214996,  6980537.59138662,  5358025.69101714,
        4519725.42144618,  3419875.40619322,  4377646.55495528,
        6385788.92284523,  5819537.0668614 ,  5258023.92404966,
        3835676.52871266,  6749594.55318048,  3217825.87201888,
        3232110.43832742,  3000311.50208294,  8531123.97262171,
        6055252.83880228,  6263181.51388486,  4355706.89446947,
        4899309.8183723 ,  7461955.39104298,  5328194.73506062,
        4087447.07413147,  2857431.11794584,  8414396.76104224,
        4547026.95451487,  5155699.58974984,  5750985.84469392,
        5445311.17081142,  2661054.75112932,  5668149.26438808,
        3256024.39161894,  4857095.26556867,  7102084.11357081,
        5724018.21510571,  6186517.53781286,  7952938.3569166 ,
        8833420.51043831,  6129740.77635873,  6978873.93973872,
        4154162.90738914,  8327092.48681783,  5302914.40372115,
        3475682.10316272,  5612945.5843808 ,  4197719.23948292,
        5324616.71688373,  3630905.59773832,  3980898.08138624,
        7099435.89984365,  3171871.11419156,  3718496.23345804,
        5750385.28709238,  6060170.61065864,  3293477.22673502,
        3390776.2788973 ,  4952533.30618251,  4886176.17973583,
        5689160.71043367,  4025851.54279665,  6995163.53504404,
        3883996.09956124,  5591903.64652054,  4658066.02581531,
        5218561.4008578 ,  5055425.48838435,  4887825.33682894,
        3731784.77915522,  3161509.4507124 ,  2847308.62481097,
        4012304.06941231,  6130314.2826397 ,  6609288.39836065,
        4405445.03535436,  4826571.84570078,  6852873.20901069,
        6215626.92255948,  4511684.91662532,  2995468.53628945,
        4401621.04535084,  4994616.89465986,  2692164.91071178,
        3736449.48495958,  6829318.69546756,  5775890.82799418,
        5161022.66059062,  3751387.05636029,  3355987.22152309,
        6174908.32174231,  3214116.01622238,  4169981.61699251,
        5193432.96433872,  4148055.41303663,  5101279.4537082 ,
        3140377.55853691,  3987709.70197068,  4266898.33221482,
        4115383.76164534,  7589698.43254804,  6485452.55166948,
        4047143.94390441,  5795706.76490918,  7460626.33582342,
        6156197.83049074,  4811678.02832609,  4245875.50024271,
        3746588.62462192,  2892084.15012551,  5587286.06833932,
        4270336.47768467,  3573973.85736438,  6251269.15157013,
        5295161.52368367,  4716848.28365962,  4197719.23948292,
        4994323.41718896,  4621410.74353836,  5344920.63905014,
        5009777.71088395,  4394597.08259617,  5782181.94368527,
        2506069.78353536,  5889917.80345068,  5943532.32050614,
        4045985.60505665,  4445212.75846782,  5993465.3868431 ,
        2827807.90069667,  2846822.04742833,  4197177.08281777,
        6197085.06574778,  4948782.68806541,  3864765.97742817,
        3516046.37076059,  3788530.89083588,  5448732.710762  ,
        3537334.00513517,  2847308.62481097,  3889671.88174225,
        4940485.34670528,  7351761.42011798,  5219566.65221397,
        5798330.40535489,  2882493.15394196,  4590011.82226747,
        6965120.16860473,  3090248.4600479 ,  4169964.08524088,
        2185925.83165752,  2753675.5633134 ,  3782866.75619155,
        3165280.2526537 ,  4770718.57093263,  4335663.22351454,
        3152268.8369865 ,  2961581.97460462,  2763550.64940992,
        5183403.46114303,  5061894.36999411,  4024269.58798979,
        6161683.05846123,  4526223.11426899,  3775341.89842653,
        5525440.80324658,  3677537.5367341 ,  4415054.64952591,
        2746083.69346224,  3918569.35126449,  7123113.10208702,
        5322411.98380913,  6188403.20925107,  5418319.0238119 ,
        3858076.77299684,  4162356.59380662,  6702443.44500455,
        5850996.84988046,  3258315.84455837,  6224022.60408319,
        2948667.62712377,  3554781.41380875,  3181354.10845904,
        6191681.35287607,  2989427.06741957,  4494025.15873857,
        3793269.02661667,  2750522.3374525 ,  5368478.25813435,
        3037105.37108982,  3142146.34385163,  4644102.52801353,
        2639797.51554609,  7263827.16893586,  5658448.45847487,
        7563289.77028881,  3915744.58507426,  7030603.07791612,
        4330811.75497218,  6043805.71475796,  3709879.00948683,
        5672897.21489024,  6882819.34310988,  7738232.95550391,
        7341354.66267265,  5110021.39901548,  6692967.15547948,
        2915785.92986337,  3500240.81565862,  4597207.53784053,
        6390519.75551154,  5749902.03406654,  4316905.77112556,
        2866777.91728833,  2944115.01865694,  4611928.80292579,
        5790884.49364841,  3110891.95854127,  7477557.86361593,
        3649922.95466727,  3439477.68339828,  4945373.31868006,
        3541345.32381169,  3920206.58544568,  3423189.00305541,
        4028268.03187334,  5043836.19556439,  3395208.67222343,
        6742793.15303025,  4350063.93782321,  5464378.88101942,
        6379807.01972881,  5351568.03722523,  2948533.55615969,
        5064959.79775803,  2934217.84004297,  5528042.35770847,
        6726429.04951634,  4018576.12606467,  3802135.71695964,
        5264369.36612257,  3994870.6948314 ,  7333154.95409437,
        6658236.57992365,  4080771.62196403,  4747235.31033834,
        4840455.49399602,  2163150.22210406,  4665832.00815508,
        3262490.18522006,  4324869.79604871,  4513926.29477702,
        5332527.28502026,  4774016.57955467,  4590211.91871418,
        6675901.46257518,  3784904.07779632,  2722421.17800304,
        4892746.31888259,  6492959.88270622,  6480951.31120961,
        5800921.18248761,  2348661.41560787,  7424317.00012617,
        3114744.35725847,  3007380.60074989,  7120335.2885553 ,
        3979668.99355621,  6132327.12534183,  5135911.29736651,
        6061644.80958857,  3926171.71109902,  5333934.31410713,
        3175517.16809922,  4761920.10379066,  3249219.49272106,
        3840598.37015781,  3555883.14425203,  3950108.65196352,
        4655142.30050678,  4449136.36197725,  4455800.75487087,
        6370351.33952092,  2711676.08229099,  3447069.55324944,
        4193750.21450881,  2956217.75580405,  3793351.89554846,
        2751144.94002968,  3937617.5292079 ,  4238377.60198376,
        3320538.38906353,  3021452.12002555,  4604117.58111424,
        5960090.38535254,  6689867.25561178,  6263776.70632235,
        6159363.89004841,  6023830.11542797,  4466553.13409264,
        5309663.83907165,  4983984.95202143,  7072036.32282138,
        3778448.2186888 , 10855794.05971045,  2124415.1790559 ,
        3132896.90079911,  7069944.74221369,  3877031.31464045,
        5483454.74755643,  4998281.76626018,  6374673.54437835,
        2739401.58836756,  3127457.48780587,  4266898.33221482,
        4152382.70698256,  2906781.31244518,  3634718.42895412,
        5821405.06426823,  4734503.90422599,  2756206.18659712,
        7543361.21039373,  4035968.90433179,  4173877.38331106,
        3675496.53129985,  6043574.86198584,  4130246.59629649,
        6355105.34607049,  4284617.82680058,  4306267.64820762,
        6174265.61267762,  5544446.64927741,  2487473.54114036,
        5489840.15427893,  4060526.63569428,  2196048.3247924 ,
        2622879.60858519,  3321069.74808388,  5562493.41749374,
        3859947.11140231,  3285125.0708822 ,  3208078.74415329,
        2238293.22682322,  7770474.59686367,  3413415.30404282,
        4611020.06883476,  6898505.85516306,  4580268.86864689,
        2720777.46062506,  6175053.09995478,  3450643.21412094,
        6003907.80389572,  2756206.18659712,  4938861.3944234 ,
        2794964.37659961,  3065584.9362754 ,  4344575.3622184 ,
        3897007.61878793,  5624460.99624637,  3413024.58830022,
        4211089.21222555,  3307885.27264494,  4549718.58426129,
        3420860.65499244,  2905268.76349542,  6315482.97147295,
        5337927.12010659,  6563686.18577992,  6369551.54186623,
        6325625.10554022,  2857431.11794584,  7136063.84644282])

In [34]:
#12 Predict on the train set and calculate the error = y_pred - y_train
error=y_pred-y_train
error

126   -5.477012e+05
363   -1.499996e+05
370    7.643610e+05
31    -1.977171e+06
113    2.678948e+05
           ...
71    -1.913138e+05
106    2.095515e+05
270    1.985625e+06
435   -4.325689e+05
102    9.410638e+05
Name: price, Length: 381, dtype: float64

In [ ]:
#13  Residual plot - plot y_pred in x axis and errors in y axis

In [35]:
#14  Predic on the test set
y_pred=mlr.predict(x_test)
y_pred

array([5407508.87024418, 7097185.46706855, 3055462.44314053,
       4476945.19636315, 3315983.65663579, 3618373.03255259,
       5758111.46044028, 6466502.43909126, 2830273.16469119,
       2588804.65810567, 9649589.31414054, 2830606.51113843,
       3048137.62898116, 3392779.60203048, 3823232.9673009 ,
       5358170.87034031, 2955016.41578148, 4836054.53230682,
       4603068.47740645, 3551464.60674927, 5625018.82657786,
       5796938.54363456, 2758483.74755246, 4873266.20950521,
       5600804.93370716, 7772078.63540938, 3381536.16270183,
       5370732.06725796, 8352665.9587942 , 3406110.06934798,
       6335677.41367624, 3427228.10570008, 6740746.88053742,
       4205633.93578768, 3624702.80095917, 5797171.46441145,
       5080025.13346592, 4386055.52335342, 3070137.54474224,
       4635050.40917587, 4743419.55702888, 3433682.48420934,
       7076940.4807988 , 4096598.07073101, 3741261.35302813,
       4308416.36745432, 6678982.6364043 , 4092649.04459023,
       3872211.05471678, 3687383.17722361, 7462374.91109114,
       2898324.62920572, 4501494.58592862, 4427073.78264695,
       3822457.27350851, 2641947.74706375, 7510739.56714418,
       2940944.89650582, 4246613.52617664, 2796696.15913661,
       5048338.5881557 , 3582935.78133612, 5255053.95042848,
       4255235.59619518, 4807607.51782258, 4711232.00096705,
       7260531.24221025, 3577762.50878024, 6285890.98464552,
       6318431.41494408, 4758297.02517639, 5066345.6283754 ,
       4660923.85280286, 8066891.08353479, 3498363.85433617,
       5429714.24082061, 4058399.55113095, 4441034.13232771,
       4816316.06017677, 4040152.44618202, 7752648.28119992,
       4172277.59889827, 6705184.89500425, 5431743.8402273 ,
       2763801.26664556, 7145185.10824616, 2626368.70533511,
       3708769.99925747, 8020894.34927403, 8360086.48106034,
       3255839.86876679, 6099608.09004818, 3610311.65133947,
       3666255.62947034, 7909304.88416764, 4708264.41070268,
       5200345.04442612, 6430338.84553524, 4954759.03354751,
       5980566.29859787, 3959705.24306595, 6578815.16383057,
       3699022.87139188, 6086458.26574741, 5225872.35919378,
       4461872.63697472, 7065795.84374116, 6430992.76558985,
       6577488.25056946, 7181092.29436555, 7132469.27644316,
       4969951.60846033, 3988509.66451833, 3282579.03980776,
       4284449.11400227, 3307885.27264494, 2794018.0999277 ,
       2314211.92533476, 3639260.72788702, 4017775.19574567,
       3783639.23978665, 4997528.13318575, 3920039.36114686,
       4086116.99024392, 6051867.67437964, 2314854.63439944,
       5648580.65216443, 3388208.44694471, 8106887.37935499,
       6945211.4619021 , 3290813.6187236 , 4943358.78455695,
       7021438.17367802, 6633943.09586481, 3257272.80697058,
       2346620.41017362, 3128074.82457597, 5602713.80008826,
       3052041.70375378, 3931847.49328003, 2574372.82187877,
       4011784.5084254 , 5232639.95388041, 4105734.9218601 ,
       4188942.50390193, 2421273.7970433 , 6767186.36585123,
       5302303.58194732, 6807894.55657294, 7246680.49265498,
       5468336.15502   , 4606361.04221866, 3769887.60312207,
       3860336.84228787, 3308041.40432699, 7268912.41470939,
       8146912.63449662, 4013563.22451008, 7210577.89436119,
       3796902.64702948, 4130262.35836178, 7058248.99034354,
       5417344.25448755, 5180833.66432885])

In [ ]:
#15 Residual plot - plot y_pred in x axis and errors in y axis

In [ ]:
#16 Print Mean Squared Error and R Squared Value

In [ ]:
#17 Check  Adjusted R Squared Value(by selecting different no of input variables insted of all)